.dark-theme{ 
    .form-group[_ngcontent-ng-c597361932][_ngcontent-ng-c597361932] label[_ngcontent-ng-c597361932][_ngcontent-ng-c597361932]{
        color: #ffffff;
    }

    .toggle-confirm-password{
        color: black;
    }

    .toggle-password{
        color: black;
    }
}

.dark-theme{
    .form-group[_ngcontent-ng-c597361932] label[_ngcontent-ng-c597361932]{
        color: #ffffff;
    }

    .toggle-confirm-password{
        color: black;
    }

    .toggle-password{
        color: black;
    }
} 

.form-control {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    margin-left: 0px;
    margin-right: -100px;    
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center; 
}

.form-group label {
    font-weight: bold;
    width: 100px;
    margin-right: 20px;
    /* color: #333; */
    font-size: 18px;
}

.form-group input {
    flex: 10; 
}

.toggle-password {
    position: absolute; /* Position button absolute within form-group */
    top: 365px; /* Adjust top position as needed */
    right: -84px; /* Adjust right position as needed */
    padding: 6px 11px; /* Add padding to button */
    background-color: lightgreen; /* Add background color to button */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border-radius */
    cursor: pointer; /* Change cursor to pointer on hover */
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched{
    border: 1px solid red;
    display: inline-block;
    color: red;
    font-style: italic;
    font-weight: bold;
}

.error-message {
    display: block; /* Ensure the span takes up the entire line */
    margin-top: 10px; /* Add some space between the input field and the error message */
    color: red; /* Change the text color to red for better visibility */
    font-size: 20px; /* Adjust the font size as needed */
    font-style: italic; /* Optionally, make the text italic */
    text-align: center;
}

.toggle-confirm-password {
    position: absolute; /* Position button absolute within form-group */
    top: 442px; /* Adjust top position as needed */
    right: -84px; /* Adjust right position as needed */
    padding: 6px 11px; /* Add padding to button */
    background-color: lightgreen; /* Add background color to button */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border-radius */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.dark-mode {
    background-color:#333 ;
    color: white;
}

/* .form-group[_ngcontent-ng-c597361932] label[_ngcontent-ng-c597361932] {
    font-weight: bold;
    width: 100px;
    margin-right: 20px;
    color: #333;
    font-size: 18px;
} */

.warning-message{ 
    position: absolute;
    margin-left:-138px;
    margin-top: -143px;
    display: block;
    text-align: center;
    font-size: 11.5px;
    width:115px;
    height:140px;
    background:#ECEFF1;
    box-shadow: 5px 4px rgba(0,0,0,0.2);
    border-radius:20px;
 }

 .input-row2 {
    margin-left: 100px; /* Adjust the margin as needed */
}


 .red-text {
    color: red;
}

.green-text {
    color: green;
}
