<h1 style="text-align: center; font-weight: bold; font-size: 35px; margin-left: 80px">Book {{ seatId }}</h1>
<br/>
<div class="card my-5" [class.dark-theme]="isDarkMode">
    <div class="card-body" [class.dark-theme]="isDarkMode">
        <form (ngSubmit)="onSubmit(reservationForm)" #reservationForm="ngForm" [class.dark-theme]="isDarkMode">
            <div class="form-group" [class.dark-theme]="isDarkMode">
                <label for="selectedDate" class="control-label" [class.dark-theme]="isDarkMode">Selected Date:</label>
                <input 
                    type="text" 
                    style="font-weight: bold;"
                    id="selectedDate" 
                    class="form-control"
                    name="selectedDate"
                    [value]="date" 
                    readonly >
            </div>
            <br/>

            <div class="form-group" [class.dark-theme]="isDarkMode">
                <div class="input-row">
                    <label for="startHour" class="control-label" [class.dark-theme]="isDarkMode" style="text-align: center;">Start Hour:</label>
                    <input 
                        style="width: 100%;"
                        type="time" 
                        id="startHour" 
                        class="form-control"
                        name="startHour"
                        ngModel
                        required>
                </div>

                <div class="input-row2">
                    <label for="endHour" class="control-label" [class.dark-theme]="isDarkMode" style="text-align: center;">End Hour:</label>
                    <input 
                        style="width: 100%;"
                        type="time" 
                        id="endHour" 
                        class="form-control"
                        name="endHour"
                        ngModel
                        required>
                </div>
            </div>
            <ng-container *ngIf="reservationForm.value.endHour && reservationForm.value.startHour; else nullBlock">
                <ng-container *ngIf="reservationForm.value.endHour > reservationForm.value.startHour; else elseBlock">
                    <h3 style="text-align: center; font-weight: bold; margin-left: 100px; font-size: large;">
                        You're booking for 
                        {{ checkTime(reservationForm)[0] }} 
                        {{ checkTime(reservationForm)[0] === 1 ? 'hour' : 'hours' }} and 
                        {{ checkTime(reservationForm)[1] }} 
                        {{ checkTime(reservationForm)[1] === 1 ? 'minute' : 'minutes' }}.
                    </h3>
                </ng-container>
            </ng-container>
            <ng-template #elseBlock>
                <h3 style="text-align: center; font-weight: bold; margin-left: 100px; font-size: large;">
                    Please select a valid time range.
                </h3>
            </ng-template>
            <ng-template #nullBlock></ng-template>
            <br/>
            
            <div class="form-group">
                <label for="eventName" [class.dark-theme]="isDarkMode">Event: </label>
                <select 
                    id="eventName" 
                    class="form-control"
                    name="eventName"
                    ngModel
                    required>
                    <option *ngFor="let event of events" [value]="event.eventName" style="text-align: center;">
                        {{ event.eventName }}
                    </option>
                </select>
            </div>
            <br/>

            <div class="row">
                <div class="col-xs-12" style="text-align: center">
                    <button type="submit" [disabled]="checkForm(reservationForm)"
                    class="btn btn-info" style="margin-left: 80px;">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
