<br/>
<div class="card my-5"  style="text-align: center;">
    <div class="card-body "  style="text-align: center;">
      <div class="table-container">
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col" style="text-align: center;">Team Id</th>
              <th scope="col" style="text-align: center;">Team Name</th>
              <th scope="col" style="text-align: center;">Department Id</th>
              <th scope="col" style="text-align: center;">Actions</th> 
            </tr>
          </thead>
          <tbody [class.dark-theme]="isDarkMode">
            <tr *ngFor="let team of teams">
              <td>{{ team.teamId }}</td>
              <td>{{ team.teamName }}</td>
              <td>{{ team.departmentId }}</td>
              <td style="text-align: center;">
                <button class="btn btn-primary" (click)="updateTeam(team)">Update</button> <!-- Update button -->
                <button class="btn btn-danger" (click)="deleteTeam(team)">Delete</button> 
              </td>
            </tr>
          </tbody>
        </table>
        
        <div style="text-align: center;" [class.dark-theme]="isDarkMode">
          <pagination-controls previousLabel="Previous" nextLabel="Next" (pageChange)="onTableDataChange($event)">
          </pagination-controls>
        </div>
       </div> 
    </div>
  </div>
  <button 
  class="btn btn-success" 
  style="margin-left: 10%;"
  (click) = "onNewTeam()">New team</button>