<h1 style="text-align: center;  font-weight: bold; font-size: 35px;">Create an event</h1>
<!-- <div *ngFor="let line of data">{{ line }}</div> -->
<br/>
<div class="card my-5" [class.dark-theme]="isDarkMode">
    <div class="card-body"[class.dark-theme]="isDarkMode">
      <form (ngSubmit)="onSubmit(eventForm)" #eventForm="ngForm" [class.dark-theme]="isDarkMode">
        
        <div class="form-group">
            <label for="eventName" [class.dark-theme]="isDarkMode">Event Name: </label>
            <input 
                type="text" 
                id="eventName" 
                class="form-control"
                name="eventName"
                ngModel
                required
                #firstname="ngModel"
                [placeholder]="firstname.touched ? 'Please enter the event name!' : 'Enter the event name'">
        </div>

        <br/>
        <div class="row">
            <div class="col-xs-12" style="text-align: center">
                <button type="submit" [disabled]="!eventForm.form.valid"
                class="btn btn-info">Submit</button>
            </div>
        </div>
      </form>
    </div>
  </div>