<h1 style="text-align: center;  font-weight: bold; font-size: 35px;">Upload a map</h1>
<br/>
<div class="card my-5" [class.dark-theme]="isDarkMode">
    <div class="card-body"[class.dark-theme]="isDarkMode">
      <form (ngSubmit)="onSubmit(mapForm)" #mapForm="ngForm" [class.dark-theme]="isDarkMode">
        <div class="form-group" [class.dark-theme]="isDarkMode">
            <label for="MapNameId" class="control-label" [class.dark-theme]="isDarkMode">Map Id:</label>
            <input 
                type="text" 
                id="MapNameId" 
                class="form-control"
                name="MapNameId"
                ngModel
                required
                #name="ngModel"
                [placeholder]="name.touched ? 'Please enter the map id!' : 'Enter map id'">
        </div>
        <br/>

        <div class="form-group" [class.dark-theme]="isDarkMode">
            <label for="MapName" class="control-label" [class.dark-theme]="isDarkMode">Map Name:</label>
            <input 
                type="text" 
                id="MapNameId" 
                class="form-control"
                name="MapNameId"
                ngModel
                required
                #name="ngModel"
                [placeholder]="name.touched ? 'Please enter the map name!' : 'Enter map name'">
        </div>
        <br/>

        <div class="col-6">
            <input type="file" multiple value="select" #selectFile 
                (change)="onFileSelected($event)"    
            >
        
        </div>
        
        

        <br/>
        <div *ngIf="somethingWrong" style="color: red; margin-left: 420px; font-weight: bold; font-size: 20px;">This department already exists! </div>
        <br/>
        <div class="row">
            <div class="col-xs-12" style="text-align: center">
                <button type="submit" [disabled]="!mapForm.form.valid"
                class="btn btn-info">Submit</button>
            </div>
        </div>
      </form>
    </div> 
  </div>