<h1 style="text-align: center;  font-weight: bold; font-size: 35px;">Upload a map</h1>
<br/>
<div class="card my-5" [class.dark-theme]="isDarkMode">
    <div class="card-body"[class.dark-theme]="isDarkMode">
      <form (ngSubmit)="onSubmit(mapForm)" #mapForm="ngForm" [class.dark-theme]="isDarkMode">
        <div class="form-group" [class.dark-theme]="isDarkMode">
            <label for="MapNameId" class="control-label" [class.dark-theme]="isDarkMode">Map Id:</label>
            <input 
                type="text" 
                id="MapNameId" 
                class="form-control"
                name="MapNameId"
                ngModel
                required
                #name="ngModel"
                [placeholder]="name.touched ? 'Please enter the map id!' : 'Enter map id'">
        </div>
        <br/>

        <div class="col-6">
            <div>
                <input  
                    type="file" 
                    multiple value="select" 
                    #selectFile
                    required 
                    (change)="onFileSelected($event)">
            </div>
            <div>
                <div class="mt-5">
                    <div class="row">
                        <mat-grid-list cols="1" rowHeight="1:1" style="margin-top: -250px; margin-bottom: -250px;">
                            <mat-grid-tile *ngFor="let file of mapImage; let i = index;">
                                <div>
                                    <img [src]="file.url" style="width: 1300px; height: 600px;"/>
                                    <span class="btn-remove-image" (click)="removeImage(i, mapForm)">X</span>
                                </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>    
                </div>
            </div>        
        </div>

      </form>
      <div *ngIf="somethingWrong" style="color: red; margin-left: 420px; font-weight: bold; font-size: 20px;">This map already exists! </div>
            <br/>
            <div class="row">
                <div class="col-xs-12" style="text-align: center;">
                    <button type="submit" [disabled]="!mapForm.form.valid"
                    class="btn btn-info">Submit</button>
                </div>
            </div>
    </div> 
  </div>