<h1 style="text-align: center; font-weight: bold; font-size: 35px; margin-left: 60px">My reservations</h1>
<br/>
<div class="card my-5"  style="text-align: center;">
    <div class="card-body "  style="text-align: center;">
      <div class="table-container">
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col" style="text-align: center;">Date</th>
              <th scope="col" style="text-align: center;">From</th>
              <th scope="col" style="text-align: center;">To</th>
              <th scope="col" style="text-align: center;">Place Reserved</th>
              <th scope="col" style="text-align: center;">Event</th>
              <th scope="col" style="text-align: center;">Actions</th> <!-- New column for actions -->
          </tr>
        </thead>
        <tbody [class.dark-theme]="isDarkMode">
          <tr *ngFor="let reservation of reservations | paginate: { itemsPerPage: tableSize, currentPage: page, totalItems: count }; let i = index">
            <td  [ngClass]="{'expired': isExpired(reservation.reservationDate, reservation.reservationEndHour)}" [class.dark-theme]="isDarkMode">{{ reservation.reservationDate }}</td>
            <td [ngClass]="{'expired': isExpired(reservation.reservationDate, reservation.reservationEndHour)}" [class.dark-theme]="isDarkMode">{{ reservation.reservationStartHour }}</td>
            <td [ngClass]="{'expired': isExpired(reservation.reservationDate, reservation.reservationEndHour)}" [class.dark-theme]="isDarkMode">{{ reservation.reservationEndHour }}</td>
            <td>{{ reservation.placeNameId }}</td>
            <td>{{ reservation.eventName }}</td>
            <td style="text-align: center;">
              <button class="btn btn-primary btn-info" (click)="onSeeMap(reservation)">See on map</button> 
              <!-- <button class="btn btn-primary " (click)="updateReservation(reservation)">Update</button>  -->
              <button class="btn btn-danger" (click)="deleteReservation(reservation)">Delete</button>
            </td>
        </tr>
        </tbody>
      </table>

      <div style="text-align: center;" [class.dark-theme]="isDarkMode">
        <pagination-controls previousLabel="Previous" nextLabel="Next" (pageChange)="onTableDataChange($event)">
        </pagination-controls>
      </div>
    </div>
  </div>
