<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">UserId</th>
            <th scope="col">UserName</th>
            <th scope="col">UserFirstName</th>
            <th scope="col">UserEmail</th>
            <th scope="col">UserPassword</th>
            <th scope="col">UserRole</th>
            <th scope="col">TeamId</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.userId }}</td>
            <td>{{ user.userName }}</td>
            <td>{{ user.userFirstName }}</td>
            <td>{{ user.userEmail }}</td>
            <td>{{ user.userPassword }}</td>
            <td>{{ user.userRole }}</td>
            <td>{{ user.teamId }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>