.dark-theme tr {
    background-color: grey ;
    color: #ffffff; /* White text color */
}

.dark-theme {
    .ngx-pagination a, .ngx-pagination button {
        color: #ffffff;
        display: block;
        padding: 0.1875rem 0.625rem;
        border-radius: 0;
    }
  
    .ngx-pagination a:hover, .dark-theme .ngx-pagination button:hover {
      color: black; /* Change color on hover */
    }
  }
