<br/>
<div class="card my-5">
    <div class="card-body">  
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col" style="text-align: center;">User Id</th>
            <th scope="col" style="text-align: center;">Name</th>
            <th scope="col" style="text-align: center;">First Name</th>
            <th scope="col" style="text-align: center;">Email</th>
            <th scope="col" style="text-align: center;">Role</th>
            <th scope="col" style="text-align: center;">Team</th>
            <th scope="col" style="text-align: center;">Actions</th>
          </tr>
        </thead>
    
        <tbody [class.dark-theme]="isDarkMode">
          <tr *ngFor="let user of users.slice(1) | paginate: { itemsPerPage: tableSize, currentPage: page, totalItems: count - 1 }; let i = index">
            <td style="text-align: center;">{{ user.userId }}</td>
            <td style="text-align: center;">{{ user.userName }}</td>
            <td style="text-align: center;">{{ user.userFirstName }}</td>
            <td style="text-align: center;">{{ user.userEmail }}</td>
            <td style="text-align: center;">{{ user.userRole }}</td>
            <td style="text-align: center;">{{ user.teamId }}</td>
            <td style="text-align: center;">
              <button class="btn btn-primary" (click)="updateUser(user)">Update</button>
              <button class="btn btn-danger" (click)="deleteUser(user)">Delete</button> 
            </td>
          </tr>
        </tbody>
        
        </table>
          <div style="text-align: center;" [class.dark-theme]="isDarkMode">
            <pagination-controls previousLabel="Previous" nextLabel="Next" (pageChange)="onTableDataChange($event)">
            </pagination-controls>
          </div>
          
          
    </div>
  </div>
  <button 
    class="btn btn-success" 
    (click) = "onNewUser()">New user</button>