.form-control {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    margin-left: 0px;
    margin-right: -100px;    
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center; 
}

.form-group label {
    font-weight: bold;
    width: 100px;
    margin-right: 20px;
    color: #333;
    font-size: 18px;
}

.form-group input {
    flex: 10; 
}

.toggle-password {
    position: absolute; /* Position button absolute within form-group */
    top: 231px; /* Adjust top position as needed */
    right: -84px; /* Adjust right position as needed */
    padding: 6px 11px; /* Add padding to button */
    background-color: lightgreen; /* Add background color to button */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border-radius */
    cursor: pointer; /* Change cursor to pointer on hover */
}