.password-input {
    position: relative;
}

.password-input input {
    padding-right: 30px; /* Space for the toggle button */
}

.password-input .toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
}
