<h1 style="text-align: center;">Add a User</h1>
<br/>
<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
        <div class="form-group">
            <label for="userName" class="control-label">Name:</label>
            <input 
                type="text" 
                id="userName" 
                class="form-control"
                name="userName"
                ngModel
                required
                placeholder="Enter your name">
        </div>
        
         
        <div class="form-group">
            <label for="userFirstName">First Name: </label>
            <input 
                type="text" 
                id="userFirstName" 
                class="form-control"
                name="userFirstName"
                ngModel
                required
                placeholder="Enter your first name">
        </div>

        <div class="form-group">
            <label for="userEmail">Email: </label>
            <input 
                type="text" 
                id="userEmail" 
                class="form-control"
                name="userEmail"
                ngModel
                required
                placeholder="Enter your email">
        </div>

        <div class="form-group">
            <label for="userPassword">Password: </label>
            <br/>
                <input 
                    type="{{ passwordVisible ? 'text' : 'password' }}" 
                    class="form-control"
                    [(ngModel)]="userPassword" 
                    name="userPassword"
                    placeholder="Enter your password"
                    required
                >
                <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
                    {{ passwordVisible ? 'Hide' : 'Show' }}
                </button>
        </div>
        
        <!-- <div class="form-group">
            <label for="userRole">Role: </label>
            <select 
                id="userRole" 
                class="form-control"
                name="userRole"
                [(ngModel)]="user.userRole"
                required 
                placeholder="Choose your role">
                <option *ngFor="let role of userRoles" [value]="role">{{ role }}</option>
            </select>
        </div> -->

        <div class="form-group">
            <label for="teamId">Team: </label>
            <select 
                id="teamId" 
                class="form-control"
                name="teamId"
                [(ngModel)]="user.teamId"
                required
                placeholder="Enter your team"
            >
                <option *ngFor="let team of teamsArray" [ngValue]="team">{{ team }}</option>
            </select>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <button type="submit" [disabled]="!userForm.form.valid" 
                class="btn btn-info">Submit</button>
            </div>
        </div>
      </form>
    </div>
  </div>