img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.reserved{
    background-color: red;
}

.myReservation{
    background-color: #E1AD01;
}

.highlighted {
    /* Add styles for the clicked state */
    border: 1.7px dashed red;
  }
  

button.mallorca {
    width: 56px;
    height: 58px;
    border: none;
    border-radius: 0;  /* Ensures the button is square */
    transform: rotate(7deg);
}

button.capri {
    width: 38px;
    height: 29px;
    border: none;
    border-radius: 0;  /* Ensures the button is square */
    transform: rotate(7deg);
}

button.naxos {
    width: 52px;
    height: 48px;
    border: none;
    border-radius: 0;  /* Ensures the button is square */
    transform: rotate(78deg);
}

button.corsica {
    width: 91px;
    height: 70px;
    border: none;
    border-radius: 0;  /* Ensures the button is square */
    transform: rotate(7deg);
}

button.curacao {
    width: 57px;
    height: 64px;
    border: none;
    border-radius: 0;  /* Ensures the button is square */
    transform: rotate(151deg);
}

button.paros {
    width: 45px;
    height: 41px;
    border: none;
    border-radius: 0;  /* Ensures the button is square */
    transform: rotate(151deg);
}

button.guadeloupe {
    width: 35px;
    height: 37px;
    border: none;
    border-radius: 0;  /* Ensures the button is square */
    transform: rotate(157deg);
}

button.galapagos {
    width: 43px;
    height: 76px;
    border: none;
    border-radius: 0;  /* Ensures the button is square */
    transform: rotate(151deg);
}

button.seczone2 {
    width: 85px;
    height: 76px;
    border: none;
    border-radius: 0;  /* Ensures the button is square */
    transform: rotate(151deg);
}

button.santorini {
    width: 73px;
    height: 45px;
    border: none;
    border-radius: 0;  /* Ensures the button is square */
    transform: rotate(98deg);
}

button.sardinia {
    width: 44px;
    height: 49px;
    border: none;
    border-radius: 0;  /* Ensures the button is square */
    transform: rotate(84deg);
}

button.creta {
    width: 44px;
    height: 49px;
    border: none;
    border-radius: 0;  /* Ensures the button is square */
    transform: rotate(97deg);
}

button.comoros1 {
    width: 68px;
    height: 63px;
    border: none;
    border-radius: 0;  /* Ensures the button is square */
    transform: rotate(152deg);
}

button.comoros2 {
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 0;  /* Ensures the button is square */
    transform: rotate(152deg);
}

button.java {
    width: 40px;
    height: 50px;
    border: none;
    border-radius: 0;  /* Ensures the button is square */
    transform: rotate(40deg);
}

button.sicily {
    width: 44px;
    height: 72px;
    border: none;
    border-radius: 0;  /* Ensures the button is square */
    transform: rotate(77deg);
}

button.cyprus {
    width: 43px;
    height: 50px;
    border: none;
    border-radius: 0;  /* Ensures the button is square */
    transform: rotate(97deg);
}

button.rhodes {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 0;  /* Ensures the button is square */
    transform: rotate(85deg);
}

button.seychelles1 {
    width: 78px;
    height: 33px;
    border: none;
    border-radius: 0;  /* Ensures the button is square */
    transform: rotate(93deg);
}

button.seychelles2 {
    width: 46px;
    height: 15px;
    border: none;
    border-radius: 0;  /* Ensures the button is square */
    transform: rotate(76deg);
}

button.thassos1 {
    width: 78px;
    height: 32px;
    border: none;
    border-radius: 0;  /* Ensures the button is square */
    transform: rotate(93deg);
}

button.thassos2 {
    width: 46px;
    height: 15px;
    border: none;
    border-radius: 0;  /* Ensures the button is square */
    transform: rotate(76deg);
}

button.palawan1 {
    width: 70px;
    height: 32px;
    border: none;
    border-radius: 0;  /* Ensures the button is square */
    transform: rotate(97deg);
}

button.palawan2 {
    width: 60px;
    height: 20px;
    border: none;
    border-radius: 0;  /* Ensures the button is square */
    transform: rotate(108deg);
}


button{
    border-radius: 5px;
    background-color: green;
    border: none;
    border-radius: 50%; 
    width: 13px; 
    height: 13px; 
    border: 0px solid green;
}

button.parking{
    border: none;
    border-radius: 0; 
}

