<div class="container row" *ngIf="imgId === '6S'">
    <h1 style="text-align: center; font-weight: bold; font-size: 35px;">Displayed map - <b>6TH FLOOR SOUTH</b></h1>
    <br/>
    <br/>
    <div class="col-md-12">
        <div *ngIf=retrievedImage>
            <img [src]="retrievedImage">
            <!-- DE FACUT CLICK UL -->
        <!-- D1_6S -->
            <button style="position: absolute; top: 381px; left: 181px; z-index: 999;" (click)="onSeatClick('D1_6S')"></button>
        <!-- D2_6S -->
            <button style="position: absolute; top: 364px; left: 177px; z-index: 999;" (click)="onSeatClick('D2_6S')"></button>
        <!-- D3_6S -->
            <button style="position: absolute; top: 345px; left: 171px; z-index: 999;" (click)="onSeatClick('D3_6S')"></button>
        <!-- D4_6S -->
            <button style="position: absolute; top: 378px; left: 200px; z-index: 999;" (click)="onSeatClick('D4_6S')"></button>
        <!-- D5_6S -->
            <button style="position: absolute; top: 360px; left: 195px; z-index: 999;" (click)="onSeatClick('D5_6S')"></button>
        <!-- D6_6S -->
            <button style="position: absolute; top: 340px; left: 192px; z-index: 999;" (click)="onSeatClick('D6_6S')"></button>
        <!-- D7_6S -->
            <button style="position: absolute; top: 374px; left: 220px; z-index: 999;" (click)="onSeatClick('D7_6S')"></button>
        <!-- D8_6S -->
            <button style="position: absolute; top: 355px; left: 216px; z-index: 999;" (click)="onSeatClick('D8_6S')"></button>
        <!-- D9_6S -->
            <button style="position: absolute; top: 335px; left: 212px; z-index: 999;" (click)="onSeatClick('D9_6S')"></button>
        <!-- D10_6S -->
            <button style="position: absolute; top: 369px; left: 240px; z-index: 999;" (click)="onSeatClick('D10_6S')"></button>
        <!-- D11_6S -->
            <button style="position: absolute; top: 349px; left: 236px; z-index: 999;" (click)="onSeatClick('D11_6S')"></button>
        <!-- D12_6S -->
            <button style="position: absolute; top: 330px; left: 232px; z-index: 999;" (click)="onSeatClick('D12_6S')"></button>
        <!-- D13_6S -->
            <button style="position: absolute; top: 364px; left: 260px; z-index: 999;" (click)="onSeatClick('D13_6S')"></button>
        <!-- D14_6S -->
            <button style="position: absolute; top: 345px; left: 256px; z-index: 999;" (click)="onSeatClick('D14_6S')"></button>
        <!-- D15_6S -->
            <button style="position: absolute; top: 325px; left: 252px; z-index: 999;" (click)="onSeatClick('D15_6S')"></button>
        <!-- D16_6S -->
            <button style="position: absolute; top: 359px; left: 280px; z-index: 999;" (click)="onSeatClick('D16_6S')"></button>
        <!-- D17_6S -->
            <button style="position: absolute; top: 340px; left: 276px; z-index: 999;" (click)="onSeatClick('D17_6S')"></button>
        <!-- D18_6S -->
            <button style="position: absolute; top: 320px; left: 272px; z-index: 999;" (click)="onSeatClick('D18_6S')"></button>
        <!-- D19_6S -->
            <button style="position: absolute; top: 352px; left: 310px; z-index: 999;" (click)="onSeatClick('D19_6S')"></button>
        <!-- D20_6S -->
            <button style="position: absolute; top: 333px; left: 306px; z-index: 999;" (click)="onSeatClick('D20_6S')"></button>
        <!-- D21_6S -->
            <button style="position: absolute; top: 313px; left: 301px; z-index: 999;" (click)="onSeatClick('D21_6S')"></button>
        <!-- D22_6S -->
            <button style="position: absolute; top: 347px; left: 330px; z-index: 999;" (click)="onSeatClick('D22_6S')"></button>
        <!-- D23_6S -->
            <button style="position: absolute; top: 327px; left: 326px; z-index: 999;" (click)="onSeatClick('D23_6S')"></button>
        <!-- D24_6S -->
            <button style="position: absolute; top: 307px; left: 322px; z-index: 999;" (click)="onSeatClick('D24_6S')"></button>
        <!-- D25_6S -->
            <button style="position: absolute; top: 340px; left: 351px; z-index: 999;" (click)="onSeatClick('D25_6S')"></button>
        <!-- D26_6S -->
            <button style="position: absolute; top: 321px; left: 345px; z-index: 999;" (click)="onSeatClick('D26_6S')"></button>
        <!-- D27_6S -->
            <button style="position: absolute; top: 302px; left: 341px; z-index: 999;" (click)="onSeatClick('D27_6S')"></button>
        <!-- D28_6S -->
            <button style="position: absolute; top: 336px; left: 370px; z-index: 999;" (click)="onSeatClick('D28_6S')"></button>
        <!-- D29_6S -->
            <button style="position: absolute; top: 316px; left: 364px; z-index: 999;" (click)="onSeatClick('D29_6S')"></button>
        <!-- D30_6S -->
            <button style="position: absolute; top: 297px; left: 360px; z-index: 999;" (click)="onSeatClick('D30_6S')"></button>
        <!-- D31_6S -->
            <button style="position: absolute; top: 331px; left: 390px; z-index: 999;" (click)="onSeatClick('D31_6S')"></button>
        <!-- D32_6S -->
            <button style="position: absolute; top: 311px; left: 384px; z-index: 999;" (click)="onSeatClick('D32_6S')"></button>
        <!-- D33_6S -->
            <button style="position: absolute; top: 292px; left: 380px; z-index: 999;" (click)="onSeatClick('D33_6S')"></button>
        <!-- D34_6S -->
            <button style="position: absolute; top: 326px; left: 410px; z-index: 999;" (click)="onSeatClick('D34_6S')"></button>
        <!-- D35_6S -->
            <button style="position: absolute; top: 306px; left: 404px; z-index: 999;" (click)="onSeatClick('D35_6S')"></button>
        <!-- D36_6S -->
            <button style="position: absolute; top: 287px; left: 400px; z-index: 999;" (click)="onSeatClick('D36_6S')"></button>
        <!-- D37_6S -->
            <button style="position: absolute; top: 314px; left: 629px; z-index: 999;" (click)="onSeatClick('D37_6S')"></button>
        <!-- D38_6S -->
            <button style="position: absolute; top: 294px; left: 629px; z-index: 999;" (click)="onSeatClick('D38_6S')"></button>
        <!-- D39_6S -->
            <button style="position: absolute; top: 272px; left: 630px; z-index: 999;" (click)="onSeatClick('D39_6S')"></button>
        <!-- D40_6S -->
            <button style="position: absolute; top: 314px; left: 651px; z-index: 999;" (click)="onSeatClick('D40_6S')"></button>
        <!-- D41_6S -->
            <button style="position: absolute; top: 294px; left: 651px; z-index: 999;" (click)="onSeatClick('D41_6S')"></button>
        <!-- D42_6S -->
            <button style="position: absolute; top: 273px; left: 652px; z-index: 999;" (click)="onSeatClick('D42_6S')"></button>
        <!-- D43_6S -->
            <button style="position: absolute; top: 314px; left: 672px; z-index: 999;" (click)="onSeatClick('D43_6S')"></button>
        <!-- D44_6S -->
            <button style="position: absolute; top: 294px; left: 672px; z-index: 999;" (click)="onSeatClick('D44_6S')"></button>
        <!-- D45_6S -->
            <button style="position: absolute; top: 274px; left: 673px; z-index: 999;" (click)="onSeatClick('D45_6S')"></button>
        <!-- D46_6S -->
            <button style="position: absolute; top: 314px; left: 692px; z-index: 999;" (click)="onSeatClick('D46_6S')"></button>
        <!-- D47_6S -->
            <button style="position: absolute; top: 294px; left: 692px; z-index: 999;" (click)="onSeatClick('D47_6S')"></button>
        <!-- D48_6S -->
            <button style="position: absolute; top: 274px; left: 693px; z-index: 999;" (click)="onSeatClick('D48_6S')"></button>
        <!-- D49_6S -->
            <button style="position: absolute; top: 314px; left: 713px; z-index: 999;" (click)="onSeatClick('D49_6S')"></button>
        <!-- D50_6S -->
            <button style="position: absolute; top: 294px; left: 713px; z-index: 999;" (click)="onSeatClick('D50_6S')"></button>
        <!-- D51_6S -->
            <button style="position: absolute; top: 274px; left: 714px; z-index: 999;" (click)="onSeatClick('D51_6S')"></button>
        <!-- D52_6S -->
            <button style="position: absolute; top: 316px; left: 733px; z-index: 999;" (click)="onSeatClick('D52_6S')"></button>
        <!-- D53_6S -->
            <button style="position: absolute; top: 296px; left: 733px; z-index: 999;" (click)="onSeatClick('D53_6S')"></button>
        <!-- D54_6S -->
            <button style="position: absolute; top: 276px; left: 734px; z-index: 999;" (click)="onSeatClick('D54_6S')"></button>
        <!-- D55_6S -->
            <button style="position: absolute; top: 316px; left: 763px; z-index: 999;" (click)="onSeatClick('D55_6S')"></button>
        <!-- D56_6S -->
            <button style="position: absolute; top: 296px; left: 763px; z-index: 999;" (click)="onSeatClick('D56_6S')"></button>
        <!-- D57_6S -->
            <button style="position: absolute; top: 276px; left: 764px; z-index: 999;" (click)="onSeatClick('D57_6S')"></button>
        <!-- D58_6S -->
            <button style="position: absolute; top: 316px; left: 783px; z-index: 999;" (click)="onSeatClick('D58_6S')"></button>
        <!-- D59_6S -->
            <button style="position: absolute; top: 296px; left: 783px; z-index: 999;" (click)="onSeatClick('D59_6S')"></button>
        <!-- D60_6S -->
            <button style="position: absolute; top: 276px; left: 784px; z-index: 999;" (click)="onSeatClick('D60_6S')"></button>
        <!-- D61_6S -->
            <button style="position: absolute; top: 316px; left: 803px; z-index: 999;" (click)="onSeatClick('D61_6S')"></button>
        <!-- D62_6S -->
            <button style="position: absolute; top: 296px; left: 803px; z-index: 999;" (click)="onSeatClick('D62_6S')"></button>
        <!-- D63_6S -->
            <button style="position: absolute; top: 277px; left: 804px; z-index: 999;" (click)="onSeatClick('D63_6S')"></button>
        <!-- D64_6S -->
            <button style="position: absolute; top: 316px; left: 823px; z-index: 999;" (click)="onSeatClick('D64_6S')"></button>
        <!-- D65_6S -->
            <button style="position: absolute; top: 297px; left: 823px; z-index: 999;" (click)="onSeatClick('D65_6S')"></button>
        <!-- D66_6S -->
            <button style="position: absolute; top: 278px; left: 824px; z-index: 999;" (click)="onSeatClick('D66_6S')"></button>
        <!-- D67_6S -->
            <button style="position: absolute; top: 318px; left: 844px; z-index: 999;" (click)="onSeatClick('D67_6S')"></button>
        <!-- D68_6S -->
            <button style="position: absolute; top: 298px; left: 844px; z-index: 999;" (click)="onSeatClick('D68_6S')"></button>
        <!-- D69_6S -->
            <button style="position: absolute; top: 279px; left: 845px; z-index: 999;" (click)="onSeatClick('D69_6S')"></button>
        <!-- D70_6S -->
            <button style="position: absolute; top: 319px; left: 864px; z-index: 999;" (click)="onSeatClick('D70_6S')"></button>
        <!-- D71_6S -->
            <button style="position: absolute; top: 300px; left: 864px; z-index: 999;" (click)="onSeatClick('D71_6S')"></button>
        <!-- D72_6S -->
            <button style="position: absolute; top: 280px; left: 865px; z-index: 999;" (click)="onSeatClick('D72_6S')"></button>
        <!-- D73_6S -->
            <button style="position: absolute; top: 320px; left: 895px; z-index: 999;" (click)="onSeatClick('D73_6S')"></button>
        <!-- D74_6S -->
            <button style="position: absolute; top: 300px; left: 895px; z-index: 999;" (click)="onSeatClick('D74_6S')"></button>
        <!-- D75_6S -->
            <button style="position: absolute; top: 281px; left: 896px; z-index: 999;" (click)="onSeatClick('D75_6S')"></button>
        <!-- D76_6S -->
            <button style="position: absolute; top: 320px; left: 915px; z-index: 999;" (click)="onSeatClick('D76_6S')"></button>
        <!-- D77_6S -->
            <button style="position: absolute; top: 301px; left: 915px; z-index: 999;" (click)="onSeatClick('D77_6S')"></button>
        <!-- D78_6S -->
            <button style="position: absolute; top: 282px; left: 916px; z-index: 999;" (click)="onSeatClick('D78_6S')"></button>
        <!-- D79_6S -->
            <button style="position: absolute; top: 322px; left: 936px; z-index: 999;" (click)="onSeatClick('D79_6S')"></button>
        <!-- D80_6S -->
            <button style="position: absolute; top: 302px; left: 936px; z-index: 999;" (click)="onSeatClick('D80_6S')"></button>
        <!-- D81_6S -->
            <button style="position: absolute; top: 283px; left: 937px; z-index: 999;" (click)="onSeatClick('D81_6S')"></button>
        <!-- D82_6S -->
            <button style="position: absolute; top: 322px; left: 956px; z-index: 999;" (click)="onSeatClick('D82_6S')"></button>
        <!-- D83_6S -->
            <button style="position: absolute; top: 303px; left: 956px; z-index: 999;" (click)="onSeatClick('D83_6S')"></button>
        <!-- D84_6S -->
            <button style="position: absolute; top: 284px; left: 957px; z-index: 999;" (click)="onSeatClick('D84_6S')"></button>
        <!-- D85_6S -->
            <button style="position: absolute; top: 323px; left: 977px; z-index: 999;" (click)="onSeatClick('D85_6S')"></button>
        <!-- D86_6S -->
            <button style="position: absolute; top: 303px; left: 977px; z-index: 999;" (click)="onSeatClick('D86_6S')"></button>
        <!-- D87_6S -->
            <button style="position: absolute; top: 284px; left: 978px; z-index: 999;" (click)="onSeatClick('D87_6S')"></button>
        <!-- D88_6S -->
            <button style="position: absolute; top: 323px; left: 997px; z-index: 999;" (click)="onSeatClick('D88_6S')"></button>
        <!-- D89_6S -->
            <button style="position: absolute; top: 304px; left: 997px; z-index: 999;" (click)="onSeatClick('D89_6S')"></button>
        <!-- D90_6S -->
            <button style="position: absolute; top: 285px; left: 998px; z-index: 999;" (click)="onSeatClick('D90_6S')"></button>
        <!-- D91_6S -->
            <button style="position: absolute; top: 155px; left: 617px; z-index: 999;" (click)="onSeatClick('D91_6S')"></button>
        <!-- D92_6S -->
            <button style="position: absolute; top: 135px; left: 620px; z-index: 999;" (click)="onSeatClick('D92_6S')"></button>
        <!-- D93_6S -->
            <button style="position: absolute; top: 157px; left: 641px; z-index: 999;" (click)="onSeatClick('D93_6S')"></button>
        <!-- D94_6S -->
            <button style="position: absolute; top: 137px; left: 642px; z-index: 999;" (click)="onSeatClick('D94_6S')"></button>
        <!-- D95_6S -->
            <button style="position: absolute; top: 159px; left: 663px; z-index: 999;" (click)="onSeatClick('D95_6S')"></button>
        <!-- D96_6S -->
            <button style="position: absolute; top: 140px; left: 664px; z-index: 999;" (click)="onSeatClick('D96_6S')"></button>
        <!-- D97_6S -->
            <button style="position: absolute; top: 163px; left: 684px; z-index: 999;" (click)="onSeatClick('D97_6S')"></button>
        <!-- D98_6S -->
            <button style="position: absolute; top: 143px; left: 685px; z-index: 999;" (click)="onSeatClick('D98_6S')"></button>
        <!-- D99_6S -->
            <button style="position: absolute; top: 167px; left: 719px; z-index: 999;" (click)="onSeatClick('D99_6S')"></button>
        <!-- D100_6S -->
            <button style="position: absolute; top: 147px; left: 722px; z-index: 999;" (click)="onSeatClick('D100_6S')"></button>
        <!-- D101_6S -->
            <button style="position: absolute; top: 170px; left: 740px; z-index: 999;" (click)="onSeatClick('D101_6S')"></button>
        <!-- D102_6S -->
            <button style="position: absolute; top: 150px; left: 743px; z-index: 999;" (click)="onSeatClick('D102_6S')"></button>
        <!-- D103_6S -->
            <button style="position: absolute; top: 173px; left: 762px; z-index: 999;" (click)="onSeatClick('D103_6S')"></button>
        <!-- D104_6S -->
            <button style="position: absolute; top: 153px; left: 765px; z-index: 999;" (click)="onSeatClick('D104_6S')"></button>
        <!-- D105_6S -->
            <button style="position: absolute; top: 176px; left: 784px; z-index: 999;" (click)="onSeatClick('D105_6S')"></button>
        <!-- D106_6S -->
            <button style="position: absolute; top: 156px; left: 787px; z-index: 999;" (click)="onSeatClick('D106_6S')"></button>
        <!-- D107_6S -->
            <button style="position: absolute; top: 179px; left: 806px; z-index: 999;" (click)="onSeatClick('D107_6S')"></button>
        <!-- D108_6S -->
            <button style="position: absolute; top: 159px; left: 809px; z-index: 999;" (click)="onSeatClick('D108_6S')"></button>
        <!-- D109_6S -->
            <button style="position: absolute; top: 182px; left: 827px; z-index: 999;" (click)="onSeatClick('D109_6S')"></button>
        <!-- D110_6S -->
            <button style=" position: absolute; top: 162px; left: 830px; z-index: 999;" (click) = "onSeatClick('D110_6S')"></button>
    <!-- TODO => PENTRU SALI -->
        </div>
    </div>
</div>




<div class="container row" *ngIf="imgId === '6N'">
    <h1 style="text-align: center; font-weight: bold; font-size: 35px;">Displayed map - <b>6TH FLOOR NORTH</b></h1>
    <br/>
    <br/>
    <div class="col-md-12">
        <div *ngIf=retrievedImage>
            <img [src]="retrievedImage">

        <!-- D1_6N --> 
            <button style="position: absolute; top: 138px; left: 130px; z-index: 999;" (click) = "onSeatClick('D1_6N')"></button>
        <!-- D2_6N -->
            <button style="position: absolute; top: 156px; left: 130px; z-index: 999;" (click) = "onSeatClick('D2_6N')"></button>
        <!-- D3_6N -->
            <button style="position: absolute; top: 175px; left: 130px; z-index: 999;" (click) = "onSeatClick('D3_6N')"></button>
        <!-- D4_6N -->
            <button style="position: absolute; top: 138px; left: 150px; z-index: 999;" (click) = "onSeatClick('D4_6N')"></button>
        <!-- D5_6N -->
            <button style="position: absolute; top: 156px; left: 150px; z-index: 999;" (click) = "onSeatClick('D5_6N')"></button>
        <!-- D6_6N -->
            <button style="position: absolute; top: 175px; left: 150px; z-index: 999;"  (click) = "onSeatClick('D6_6N')"></button>
        <!-- D7_6N -->
            <button style="position: absolute; top: 138px; left: 170px; z-index: 999;" (click) = "onSeatClick('D7_6N')"></button>
        <!-- D8_6N -->
            <button style="position: absolute; top: 157px; left: 170px; z-index: 999;" (click) = "onSeatClick('D8_6N')"></button>
        <!-- D9_6N -->
            <button style="position: absolute; top: 177px; left: 170px; z-index: 999;" (click) = "onSeatClick('D9_6N')"></button>
        <!-- D10_6N -->
            <button style="position: absolute; top: 138px; left: 190px; z-index: 999;" (click) = "onSeatClick('D10_6N')"></button>
        <!-- D11_6N -->
            <button style="position: absolute; top: 157px; left: 190px; z-index: 999;" (click) = "onSeatClick('D11_6N')"></button>
        <!-- D12_6N -->
            <button style="position: absolute; top: 177px; left: 190px; z-index: 999;" (click) = "onSeatClick('D12_6N')"></button>
        <!-- D13_6N -->
            <button style="position: absolute; top: 138px; left: 210px; z-index: 999;" (click) = "onSeatClick('D13_6N')"></button>
        <!-- D14_6N -->
            <button style="position: absolute; top: 158px; left: 210px; z-index: 999;" (click) = "onSeatClick('D14_6N')"></button>
        <!-- D15_6N -->
            <button style="position: absolute; top: 177px; left: 210px; z-index: 999;" (click) = "onSeatClick('D15_6N')"></button>
        <!-- D16_6N -->
            <button style="position: absolute; top: 139px; left: 230px; z-index: 999;" (click) = "onSeatClick('D16_6N')"></button>
        <!-- D17_6N -->
            <button style="position: absolute; top: 159px; left: 230px; z-index: 999;" (click) = "onSeatClick('D17_6N')"></button>
        <!-- D18_6N -->
            <button style="position: absolute; top: 178px; left: 230px; z-index: 999;" (click) = "onSeatClick('D18_6N')"></button>
        <!-- D19_6N -->
            <button style="position: absolute; top: 139px; left: 260px; z-index: 999;" (click) = "onSeatClick('D19_6N')"></button>
        <!-- D20_6N -->
            <button style="position: absolute; top: 159px; left: 260px; z-index: 999;" (click) = "onSeatClick('D20_6N')"></button>
        <!-- D21_6N -->
            <button style="position: absolute; top: 179px; left: 260px; z-index: 999;" (click) = "onSeatClick('D21_6N')"></button>
        <!-- D22_6N -->
            <button style="position: absolute; top: 139px; left: 281px; z-index: 999;" (click) = "onSeatClick('D22_6N')"></button>
        <!-- D23_6N -->
            <button style="position: absolute; top: 160px; left: 281px; z-index: 999;" (click) = "onSeatClick('D23_6N')"></button>
        <!-- D24_6N -->
            <button style="position: absolute; top: 179px; left: 281px; z-index: 999;" (click) = "onSeatClick('D24_6N')"></button>
        <!-- D25_6N -->
            <button style="position: absolute; top: 140px; left: 301px; z-index: 999;" (click) = "onSeatClick('D25_6N')"></button>
        <!-- D26_6N -->
            <button style="position: absolute; top: 161px; left: 301px; z-index: 999;" (click) = "onSeatClick('D26_6N')"></button>
        <!-- D27_6N -->
            <button style="position: absolute; top: 180px; left: 301px; z-index: 999;" (click) = "onSeatClick('D27_6N')"></button>
        <!-- D28_6N -->
            <button style="position: absolute; top: 141px; left: 321px; z-index: 999;" (click) = "onSeatClick('D28_6N')"></button>
        <!-- D29_6N -->
            <button style="position: absolute; top: 161px; left: 321px; z-index: 999;" (click) = "onSeatClick('D29_6N')"></button>
        <!-- D30_6N -->
            <button style="position: absolute; top: 181px; left: 321px; z-index: 999;" (click) = "onSeatClick('D30_6N')"></button>
        <!-- D31_6N -->
            <button style="position: absolute; top: 142px; left: 341px; z-index: 999;" (click) = "onSeatClick('D31_6N')"></button>
        <!-- D32_6N -->
            <button style="position: absolute; top: 162px; left: 341px; z-index: 999;" (click) = "onSeatClick('D32_6N')"></button>
        <!-- D33_6N -->
            <button style="position: absolute; top: 182px; left: 341px; z-index: 999;" (click) = "onSeatClick('D33_6N')"></button>
        <!-- D34_6N -->
            <button style="position: absolute; top: 143px; left: 361px; z-index: 999;" (click) = "onSeatClick('D34_6N')"></button>
        <!-- D35_6N -->
            <button style="position: absolute;top: 163px; left: 361px; z-index: 999;" (click) = "onSeatClick('D35_6N')"></button>
        <!-- D36_6N -->
            <button style="position: absolute; top: 183px; left: 361px; z-index: 999;" (click) = "onSeatClick('D36_6N')"></button>
        <!-- D37_6N -->
            <button style="position: absolute; top: 144px; left: 391px; z-index: 999;" (click) = "onSeatClick('D37_6N')"></button>
        <!-- D38_6N -->
            <button style="position: absolute; top: 164px; left: 391px; z-index: 999;" (click) = "onSeatClick('D38_6N')"></button>
        <!-- D39_6N -->
            <button style="position: absolute; top: 184px; left: 391px; z-index: 999;" (click) = "onSeatClick('D39_6N')"></button>
        <!-- D40_6N -->
            <button style="position: absolute; top: 145px; left: 411px; z-index: 999;" (click) = "onSeatClick('D40_6N')"></button>
        <!-- D41_6N -->
            <button style="position: absolute; top: 165px; left: 411px; z-index: 999;" (click) = "onSeatClick('D41_6N')"></button>
        <!-- D42_6N -->
            <button style="position: absolute; top: 185px; left: 411px; z-index: 999;" (click) = "onSeatClick('D42_6N')"></button>
        <!-- D43_6N -->
            <button style="position: absolute; top: 146px; left: 431px; z-index: 999;" (click) = "onSeatClick('D43_6N')"></button>
        <!-- D44_6N -->
            <button style="position: absolute; top: 165px; left: 431px; z-index: 999;" (click) = "onSeatClick('D44_6N')"></button>
        <!-- D45_6N -->
            <button style="position: absolute; top: 186px; left: 431px; z-index: 999;" (click) = "onSeatClick('D45_6N')"></button>
        <!-- D46_6N -->
            <button style="position: absolute; top: 147px; left: 452px; z-index: 999;" (click) = "onSeatClick('D46_6N')"></button>
        <!-- D47_6N -->
            <button style="position: absolute; top: 166px; left: 452px; z-index: 999;" (click) = "onSeatClick('D47_6N')"></button>
        <!-- D48_6N -->
            <button style="position: absolute; top: 186px; left: 452px; z-index: 999;" (click) = "onSeatClick('D48_6N')"></button>
        <!-- D49_6N -->
            <button style="position: absolute; top: 147px; left: 472px; z-index: 999;" (click) = "onSeatClick('D49_6N')"></button>
        <!-- D50_6N -->
            <button style="position: absolute; top: 167px; left: 472px; z-index: 999;" (click) = "onSeatClick('D50_6N')"></button>
        <!-- D51_6N -->
            <button style="position: absolute; top: 187px; left: 472px; z-index: 999;" (click) = "onSeatClick('D51_6N')"></button>
        <!-- D52_6N -->
            <button style="position: absolute; top: 147px; left: 492px; z-index: 999;" (click) = "onSeatClick('D52_6N')"></button>
            <!-- D53_6N -->
            <button style="position: absolute; top: 167px; left: 492px; z-index: 999;" (click) = "onSeatClick('D53_6N')"></button>
        <!-- D54_6N -->
            <button style="position: absolute; top: 187px; left: 492px; z-index: 999;" (click) = "onSeatClick('D54_6N')"></button>
        <!-- D55_6N -->
            <button style="position: absolute; top: 148px; left: 522px; z-index: 999;" (click) = "onSeatClick('D55_6N')"></button>
        <!-- D56_6N -->
            <button style="position: absolute; top: 168px; left: 522px; z-index: 999;" (click) = "onSeatClick('D56_6N')"></button>
        <!-- D57_6N -->
            <button style="position: absolute; top: 188px; left: 522px; z-index: 999;" (click) = "onSeatClick('D57_6N')"></button>
        <!-- D58_6N -->
            <button style="position: absolute; top: 148px; left: 542px; z-index: 999;" (click) = "onSeatClick('D58_6N')"></button>
        <!-- D59_6N -->
            <button style="position: absolute; top: 168px; left: 542px; z-index: 999;" (click) = "onSeatClick('D59_6N')"></button>
        <!-- D60_6N -->
            <button style="position: absolute; top: 188px; left: 542px; z-index: 999;" (click) = "onSeatClick('D60_6N')"></button>
        <!-- D61_6N -->
            <button style="position: absolute; top: 170px; left: 562px; z-index: 999;" (click) = "onSeatClick('D61_6N')"></button>
        <!-- D62_6N -->
            <button style="position: absolute; top: 190px; left: 562px; z-index: 999;" (click) = "onSeatClick('D62_6N')"></button>
        <!-- D63_6N -->
            <button style="position: absolute; top: 170px; left: 582px; z-index: 999;" (click) = "onSeatClick('D63_6N')"></button>
        <!-- D64_6N -->
            <button style="position: absolute; top: 190px; left: 582px; z-index: 999;" (click) = "onSeatClick('D64_6N')"></button>
        <!-- D65_6N -->
            <button style="position: absolute; top: 171px; left: 602px; z-index: 999;" (click) = "onSeatClick('D65_6N')"></button>
        <!-- D66_6N -->
            <button style="position: absolute; top: 190px; left: 602px; z-index: 999;" (click) = "onSeatClick('D66_6N')"></button>
        <!-- D67_6N -->
            <button style="position: absolute; top: 171px; left: 625px; z-index: 999;" (click) = "onSeatClick('D67_6N')"></button>
        <!-- D68_6N -->
            <button style="position: absolute; top: 191px; left: 624px; z-index: 999;" (click) = "onSeatClick('D68_6N')"></button>
        <!-- D69_6N -->
            <button style="position: absolute; top: 145px; left: 677px; z-index: 999;" (click) = "onSeatClick('D69_6N')"></button>
        <!-- D70_6N -->
            <button style="position: absolute; top: 165px; left: 682px; z-index: 999;" (click) = "onSeatClick('D70_6N')"></button>
        <!-- D71_6N -->
            <button style="position: absolute; top: 184px; left: 687px; z-index: 999;" (click) = "onSeatClick('D71_6N')"></button>
        <!-- D72_6N -->
            <button style="position: absolute; top: 139px; left: 698px; z-index: 999;" (click) = "onSeatClick('D72_6N')"></button>
        <!-- D73_6N -->
            <button style="position: absolute; top: 159px; left: 703px; z-index: 999;" (click) = "onSeatClick('D73_6N')"></button>
        <!-- D74_6N -->
            <button style="position: absolute; top: 178px; left: 708px; z-index: 999;" (click) = "onSeatClick('D74_6N')"></button>
        <!-- D75_6N -->
            <button style="position: absolute; top: 133px; left: 719px; z-index: 999;" (click) = "onSeatClick('D75_6N')"></button>
        <!-- D76_6N -->
            <button style="position: absolute; top: 153px; left: 724px; z-index: 999;" (click) = "onSeatClick('D76_6N')"></button>
        <!-- D77_6N -->
            <button style="position: absolute; top: 172px; left: 729px; z-index: 999;" (click) = "onSeatClick('D77_6N')"></button>
        <!-- D78_6N -->
            <button style="position: absolute; top: 129px; left: 738px; z-index: 999;" (click) = "onSeatClick('D78_6N')"></button>
        <!-- D79_6N -->
            <button style="position: absolute; top: 149px; left: 743px; z-index: 999;" (click) = "onSeatClick('D79_6N')"></button>
        <!-- D80_6N -->
            <button style="position: absolute; top: 168px; left: 748px; z-index: 999;" (click) = "onSeatClick('D80_6N')"></button>
        <!-- D81_6N -->
            <button style="position: absolute; top: 123px; left: 765px; z-index: 999;" (click) = "onSeatClick('D81_6N')"></button>
        <!-- D82_6N -->
            <button style="position: absolute; top: 143px; left: 770px; z-index: 999;" (click) = "onSeatClick('D82_6N')"></button>
        <!-- D83_6N -->
            <button style="position: absolute; top: 162px; left: 775px; z-index: 999;" (click) = "onSeatClick('D83_6N')"></button>
        <!-- D84_6N -->
            <button style="position: absolute; top: 118px; left: 787px; z-index: 999;" (click) = "onSeatClick('D84_6N')"></button>
        <!-- D85_6N -->
            <button style="position: absolute; top: 138px; left: 790px; z-index: 999;" (click) = "onSeatClick('D85_6N')"></button>
        <!-- D86_6N -->
            <button style="position: absolute; top: 157px; left: 795px; z-index: 999;" (click) = "onSeatClick('D86_6N')"></button>
        <!-- D87_6N -->
            <button style="position: absolute; top: 113px; left: 807px; z-index: 999;" (click) = "onSeatClick('D87_6N')"></button>
        <!-- D88_6N -->
            <button style="position: absolute; top: 133px; left: 811px; z-index: 999;" (click) = "onSeatClick('D88_6N')"></button>
        <!-- D89_6N -->
            <button style="position: absolute; top: 152px; left: 816px; z-index: 999;" (click) = "onSeatClick('D89_6N')"></button>
        <!-- D90_6N -->
            <button style="position: absolute; top: 108px; left: 827px; z-index: 999;" (click) = "onSeatClick('D90_6N')"></button>
        <!-- D91_6N -->
            <button style="position: absolute; top: 128px; left: 832px; z-index: 999;" (click) = "onSeatClick('D91_6N')"></button>
        <!-- D92_6N -->
            <button style="position: absolute; top: 147px; left: 837px; z-index: 999;" (click) = "onSeatClick('D92_6N')"></button>
        <!-- D93_6N -->
            <button style="position: absolute; top: 103px; left: 854px; z-index: 999;" (click) = "onSeatClick('D93_6N')"></button>
        <!-- D94_6N -->
            <button style="position: absolute; top: 121px; left: 859px; z-index: 999;" (click) = "onSeatClick('D94_6N')"></button>
        <!-- D95_6N -->
            <button style="position: absolute; top: 140px; left: 864px; z-index: 999;" (click) = "onSeatClick('D95_6N')"></button>
        <!-- D96_6N -->
            <button style="position: absolute; top: 97px; left: 875px; z-index: 999;" (click) = "onSeatClick('D96_6N')"></button>
        <!-- D97_6N -->
            <button style="position: absolute; top: 116px; left: 880px; z-index: 999;" (click) = "onSeatClick('D97_6N')"></button>
        <!-- D98_6N -->
            <button style="position: absolute; top: 135px; left: 884px; z-index: 999;" (click) = "onSeatClick('D98_6N')"></button>
        <!-- D99_6N -->
            <button style="position: absolute; top: 92px; left: 895px; z-index: 999;" (click) = "onSeatClick('D99_6N')"></button>
        <!-- D100_6N -->
            <button style="position: absolute; top: 111px; left: 900px; z-index: 999;" (click) = "onSeatClick('D100_6N')"></button>
        <!-- D101_6N -->
            <button style="position: absolute; top: 130px; left: 905px; z-index: 999;" (click) = "onSeatClick('D101_6N')"></button>
        <!-- D102_6N -->
            <button style="position: absolute; top: 87px; left: 916px; z-index: 999;" (click) = "onSeatClick('D102_6N')"></button>
        <!-- D103_6N -->
            <button style="position: absolute; top: 106px; left: 920px; z-index: 999;" (click) = "onSeatClick('D103_6N')"></button>
        <!-- D104_6N -->
            <button style="position: absolute; top: 125px; left: 925px; z-index: 999;" (click) = "onSeatClick('D104_6N')"></button>
        <!-- D105_6N -->
            <button style="position: absolute; top: 82px; left: 936px; z-index: 999;" (click) = "onSeatClick('D105_6N')"></button>
        <!-- D106_6N -->
            <button style="position: absolute; top: 101px; left: 941px; z-index: 999;" (click) = "onSeatClick('D106_6N')"></button>
        <!-- D107_6N -->
            <button style="position: absolute; top: 120px; left: 946px; z-index: 999;" (click) = "onSeatClick('D107_6N')"></button>
        <!-- D108_6N -->
            <button style="position: absolute; top: 77px; left: 957px; z-index: 999;" (click) = "onSeatClick('D108_6N')"></button>
        <!-- D109_6N -->
            <button style="position: absolute; top: 96px; left: 961px; z-index: 999;" (click) = "onSeatClick('D109_6N')"></button>
        <!-- D110_6N -->
            <button style="position: absolute; top: 115px; left: 966px; z-index: 999;" (click) = "onSeatClick('D110_6N')"></button>
        <!-- D111_6N -->
            <button style="position: absolute; top: 279px; left: 314px; z-index: 999;" (click) = "onSeatClick('D111_6N')"></button>
        <!-- D112_6N -->
            <button style="position: absolute; top: 300px; left: 311px; z-index: 999;" (click) = "onSeatClick('D112_6N')"></button>
        <!-- D113_6N -->
            <button style="position: absolute; top: 282px; left: 335px; z-index: 999;" (click) = "onSeatClick('D113_6N')"></button>
        <!-- D114_6N -->
            <button style="position: absolute; top: 303px; left: 332px; z-index: 999;" (click) = "onSeatClick('D114_6N')"></button>
        <!-- D115_6N -->
            <button style="position: absolute; top: 285px; left: 356px; z-index: 999;" (click) = "onSeatClick('D115_6N')"></button>
        <!-- D116_6N -->
            <button style="position: absolute; top: 305px; left: 353px; z-index: 999;" (click) = "onSeatClick('D116_6N')"></button>
        <!-- D117_6N -->
            <button style="position: absolute; top: 287px; left: 377px; z-index: 999;" (click) = "onSeatClick('D117_6N')"></button>
        <!-- D118_6N -->
            <button style="position: absolute; top: 307px; left: 374px; z-index: 999;" (click) = "onSeatClick('D118_6N')"></button>
        <!-- D119_6N -->
            <button style="position: absolute; top: 289px; left: 398px; z-index: 999;" (click) = "onSeatClick('D119_6N')"></button>
        <!-- D120_6N -->
            <button style="position: absolute; top: 309px; left: 395px; z-index: 999;" (click) = "onSeatClick('D120_6N')"></button>
        <!-- D121_6N -->
            <button style="position: absolute; top: 292px; left: 419px; z-index: 999;" (click) = "onSeatClick('D121_6N')"></button>
        <!-- D122_6N -->
            <button style="position: absolute; top: 312px; left: 416px; z-index: 999;" (click) = "onSeatClick('D122_6N')"></button>
        <!-- D123_6N -->
            <button style="position: absolute; top: 296px; left: 452px; z-index: 999;" (click) = "onSeatClick('D123_6N')"></button>
        <!-- D124_6N -->
            <button style="position: absolute; top: 316px; left: 450px; z-index: 999;" (click) = "onSeatClick('D124_6N')"></button>
        <!-- D125_6N -->
            <button style="position: absolute; top: 299px; left: 474px; z-index: 999;" (click) = "onSeatClick('D125_6N')"></button>
        <!-- D126_6N -->
            <button style="position: absolute; top: 319px; left: 472px; z-index: 999;" (click) = "onSeatClick('D126_6N')"></button>
        <!-- D127_6N -->
            <button style="position: absolute; top: 302px; left: 496px; z-index: 999;" (click) = "onSeatClick('D127_6N')"></button>
        <!-- D128_6N -->
            <button style="position: absolute; top: 322px; left: 493px; z-index: 999;" (click) = "onSeatClick('D128_6N')"></button>
        <!-- D129_6N -->
            <button style="position: absolute; top: 305px; left: 516px; z-index: 999;" (click) = "onSeatClick('D129_6N')"></button>
        <!-- D130_6N -->
            <button style="position: absolute; top: 325px; left: 513px; z-index: 999;" (click) = "onSeatClick('D130_6N')"></button>
            <!-- TODO => PENTRU SALI -->
        </div>
    </div>
</div>




<div class="container row" *ngIf="imgId === '5N'">
    <h1 style="text-align: center; font-weight: bold; font-size: 35px;">Displayed map - <b>5TH FLOOR NORTH</b></h1>
    <br/>
    <br/>
    <div class="col-md-12">
        <div *ngIf=retrievedImage>
            <img [src]="retrievedImage">
        <!-- D1_5N -->
            <button style="position: absolute; top: 280px; left: 84px; z-index: 999;"  (click) = "onSeatClick('D1_5N')"></button>
        <!-- D2_5N -->
            <button style="position: absolute; top: 286px; left: 104px; z-index: 999;" (click) = "onSeatClick('D2_5N')"></button>
        <!-- D3_5N -->
            <button style="position: absolute; top: 292px; left: 124px; z-index: 999;" (click) = "onSeatClick('D3_5N')"></button>
        <!-- D4_5N -->
            <button style="position: absolute; top: 255px; left: 92px; z-index: 999;"  (click) = "onSeatClick('D4_5N')"></button>
        <!-- D5_5N -->
            <button style="position: absolute; top: 261px; left: 112px; z-index: 999;" (click) = "onSeatClick('D5_5N')"></button>
        <!-- D6_5N -->
            <button style="position: absolute; top: 270px; left: 132px; z-index: 999;" (click) = "onSeatClick('D6_5N')"></button>
        <!-- D7_5N -->
            <button style="position: absolute; top: 239px; left: 100px; z-index: 999;" (click) = "onSeatClick('D7_5N')"></button>
        <!-- D8_5N -->
            <button style="position: absolute; top: 245px; left: 120px; z-index: 999;" (click) = "onSeatClick('D8_5N')"></button>
        <!-- D9_5N -->
            <button style="position: absolute; top: 253px; left: 138px; z-index: 999;" (click) = "onSeatClick('D9_5N')"></button>
        <!-- D10_5N -->
            <button style="position: absolute; top: 218px; left: 106px; z-index: 999;" (click) = "onSeatClick('D10_5N')"></button>
        <!-- D11_5N -->
            <button style="position: absolute; top: 225px; left: 126px; z-index: 999;" (click) = "onSeatClick('D11_5N')"></button>
        <!-- D12_5N -->
            <button style="position: absolute; top: 233px; left: 146px; z-index: 999;" (click) = "onSeatClick('D12_5N')"></button>
        <!-- D13_5N -->
            <button style="position: absolute; top: 173px; left: 242px; z-index: 999;" (click) = "onSeatClick('D13_5N')"></button>
        <!-- D14_5N -->
            <button style="position: absolute; top: 193px; left: 242px; z-index: 999;" (click) = "onSeatClick('D14_5N')"></button>
        <!-- D15_5N -->
            <button style="position: absolute; top: 174px; left: 262px; z-index: 999;" (click) = "onSeatClick('D15_5N')"></button>
        <!-- D16_5N -->
            <button style="position: absolute; top: 194px; left: 262px; z-index: 999;" (click) = "onSeatClick('D16_5N')"></button>
        <!-- D17_5N -->
            <button style="position: absolute; top: 158px; left: 373px; z-index: 999;" (click) = "onSeatClick('D17_5N')"></button>
        <!-- D18_5N -->
            <button style="position: absolute; top: 178px; left: 373px; z-index: 999;" (click) = "onSeatClick('D18_5N')"></button>
        <!-- D19_5N -->
            <button style="position: absolute; top: 199px; left: 372px; z-index: 999;" (click) = "onSeatClick('D19_5N')"></button>
        <!-- D20_5N -->
            <button style="position: absolute; top: 159px; left: 393px; z-index: 999;" (click) = "onSeatClick('D20_5N')"></button>
        <!-- D21_5N -->
            <button style="position: absolute; top: 179px; left: 393px; z-index: 999;" (click) = "onSeatClick('D21_5N')"></button>
        <!-- D22_5N -->
            <button style="position: absolute; top: 199px; left: 393px; z-index: 999;" (click) = "onSeatClick('D22_5N')"></button>
        <!-- D23_5N -->
            <button style="position: absolute; top: 159px; left: 413px; z-index: 999;" (click) = "onSeatClick('D23_5N')"></button>
        <!-- D24_5N -->
            <button style="position: absolute; top: 179px; left: 413px; z-index: 999;" (click) = "onSeatClick('D24_5N')"></button>
        <!-- D25_5N -->
            <button style="position: absolute; top: 199px; left: 413px; z-index: 999;" (click) = "onSeatClick('D25_5N')"></button>
        <!-- D26_5N -->
            <button style="position: absolute; top: 159px; left: 434px; z-index: 999;" (click) = "onSeatClick('D26_5N')"></button>
        <!-- D27_5N -->
            <button style="position: absolute; top: 179px; left: 434px; z-index: 999;" (click) = "onSeatClick('D27_5N')"></button>
        <!-- D28_5N -->
            <button style="position: absolute; top: 199px; left: 433px; z-index: 999;" (click) = "onSeatClick('D28_5N')"></button>
        <!-- D29_5N -->
            <button style="position: absolute; top: 161px; left: 505px; z-index: 999;" (click) = "onSeatClick('D29_5N')"></button>
        <!-- D30_5N -->
            <button style="position: absolute; top: 181px; left: 505px; z-index: 999;" (click) = "onSeatClick('D30_5N')"></button>
        <!-- D31_5N -->
            <button style="position: absolute; top: 201px; left: 505px; z-index: 999;" (click) = "onSeatClick('D31_5N')"></button>
        <!-- D32_5N -->
            <button style="position: absolute; top: 161px; left: 525px; z-index: 999;" (click) = "onSeatClick('D32_5N')"></button>
        <!-- D33_5N -->
            <button style="position: absolute; top: 181px; left: 525px; z-index: 999;" (click) = "onSeatClick('D33_5N')"></button>
        <!-- D34_5N -->
            <button style="position: absolute; top: 201px; left: 525px; z-index: 999;" (click) = "onSeatClick('D34_5N')"></button>
        <!-- D35_5N -->
            <button style="position: absolute; top: 161px; left: 543px; z-index: 999;" (click) = "onSeatClick('D35_5N')"></button>
        <!-- D36_5N -->
            <button style="position: absolute; top: 182px; left: 543px; z-index: 999;" (click) = "onSeatClick('D36_5N')"></button>
        <!-- D37_5N -->
            <button style="position: absolute; top: 202px; left: 543px; z-index: 999;" (click) = "onSeatClick('D37_5N')"></button>
        <!-- D38_5N -->
            <button style="position: absolute; top: 162px; left: 563px; z-index: 999;" (click) = "onSeatClick('D38_5N')"></button>
        <!-- D39_5N -->
            <button style="position: absolute; top: 182px; left: 563px; z-index: 999;" (click) = "onSeatClick('D39_5N')"></button>
        <!-- D40_5N -->
            <button style="position: absolute; top: 202px; left: 562px; z-index: 999;" (click) = "onSeatClick('D40_5N')"></button>
        <!-- D41_5N -->
            <button style="position: absolute; top: 134px; left: 772px; z-index: 999;" (click) = "onSeatClick('D41_5N')"></button>
        <!-- D42_5N -->
            <button style="position: absolute; top: 156px; left: 777px; z-index: 999;" (click) = "onSeatClick('D42_5N')"></button>
        <!-- D43_5N -->
            <button style="position: absolute; top: 131px; left: 791px; z-index: 999;" (click) = "onSeatClick('D43_5N')"></button>
        <!-- D44_5N -->
            <button style="position: absolute; top: 150px; left: 796px; z-index: 999;" (click) = "onSeatClick('D44_5N')"></button>
        <!-- D45_5N -->
            <button style="position: absolute; top: 125px; left: 813px; z-index: 999;" (click) = "onSeatClick('D45_5N')"></button>
        <!-- D46_5N -->
            <button style="position: absolute; top: 144px; left: 818px; z-index: 999;" (click) = "onSeatClick('D46_5N')"></button>
        <!-- D47_5N -->
            <button style="position: absolute; top: 120px; left: 832px; z-index: 999;" (click) = "onSeatClick('D47_5N')"></button>
        <!-- D48_5N -->
            <button style="position: absolute; top: 139px; left: 837px; z-index: 999;" (click) = "onSeatClick('D48_5N')"></button>
        <!-- D49_5N -->
            <button style="position: absolute; top: 114px; left: 854px; z-index: 999;" (click) = "onSeatClick('D49_5N')"></button>
        <!-- D50_5N -->
            <button style="position: absolute; top: 133px; left: 859px; z-index: 999;" (click) = "onSeatClick('D50_5N')"></button>
        <!-- D51_5N -->
            <button style="position: absolute; top: 110px; left: 874px; z-index: 999;" (click) = "onSeatClick('D51_5N')"></button>
        <!-- D52_5N -->
            <button style="position: absolute; top: 129px; left: 879px; z-index: 999;" (click) = "onSeatClick('D52_5N')"></button>
        <!-- D53_5N -->
            <button style="position: absolute; top: 105px; left: 895px; z-index: 999;" (click) = "onSeatClick('D53_5N')"></button>
        <!-- D54_5N -->
            <button style="position: absolute; top: 124px; left: 900px; z-index: 999;" (click) = "onSeatClick('D54_5N')"></button>
        <!-- D55_5N -->
            <button style="position: absolute; top: 100px; left: 916px; z-index: 999;" (click) = "onSeatClick('D55_5N')"></button>
        <!-- D56_5N -->
            <button style="position: absolute; top: 119px; left: 921px; z-index: 999;" (click) = "onSeatClick('D56_5N')"></button>
            <!-- TODO: DE FACUT SALILE  -->

        </div>
    </div>
</div>