<br/><br/>

<div style="border: 8px solid #ddd; border-radius: 10px; padding: 50px; width: 90%; margin: 0 auto;">
    <h1 style="text-align: center; font-size: 50px;">You are one step closer to OfOps!</h1>
    <br/><br/><br/>
  
    <form (ngSubmit)="onSubmitLogin(loginForm)" #loginForm="ngForm">
      <div class="form-group" style="margin-left: 360px;">
        <h3><label class="form-label" for="userId" style="text-align: center;">User Id:
          <input
            class="form-control"
            type="login" 
            id="username" 
            name="username" 
            [(ngModel)]="username"></label></h3>
        <br/>
  
        <h3><label class="form-label" for="password" style="text-align: center;">Password:
            <button type="button"  class="toggle-password" (click)="togglePasswordVisibility()"
                    style="margin-left: 200px;" >
                {{ passwordVisible ? 'Hide' : 'Show' }}
            </button>
          <input
            class="form-control"
            type="{{ passwordVisible ? 'text' : 'password' }}" 
            id="password" 
            name="password" 
            [(ngModel)]="password"></label></h3>
            
        <br/>
      </div> 
      <button type="submit" class="btn btn-primary byn-block mb-4" style="margin-left: 415px;">Sign in</button>
    </form>
  </div>
  