.toggle-password {
    position: absolute; /* Position button absolute within form-group */
    font-size: 11px;
    top: 335px; /* Adjust top position as needed */
    right: 440px; /* Adjust right position as needed */
    padding: 6px 10px; /* Add padding to button */
    background-color: lightgreen; /* Add background color to button */
    border: none; /* Remove border */
    border-radius: 15px; /* Add border-radius */
    cursor: pointer; /* Change cursor to pointer on hover */
}