<br/><br/><br/>
<h1>Welcome to OfOps!</h1>
<br/><br/><br/><br/>


<div class="container">
  <div class="column">
    <h2> OfficeOps (OfOps) is a comprehensive booking platform designed to streamline the process of reserving various resources within a workplace environment. Whether you need to secure a parking spot, reserve a desk for the day, or book a meeting room for an important presentation, OfOps has you covered!</h2>
  </div>
  <div class="column">
      <h2 style="text-align: center; margin-left: 300px; margin-top: 70px; font-size: 30px;">Book now!</h2>
      <button type="button" class="btn btn-primary btn-lg" style="margin-left: 300px;" (click)="onStart()">Start</button>
  </div>
</div>

