/* Dark Theme Styles */
.dark-theme .navbar-collapse {
    background-color: #333; /* Use rgba() for transparent black */
    color: #ffffff;
    .navbar-nav{
        a{
            color: #ffffff;
        }
    }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
        color: #ffffff;
        background-color: grey;
    }

    .navbar-default .navbar-brand {
        color: #ffffff;
    }
}

.dark-theme{ 
    .form-group[_ngcontent-ng-c597361932][_ngcontent-ng-c597361932] label[_ngcontent-ng-c597361932][_ngcontent-ng-c597361932]{
        color: #ffffff;
    }
}

.dark-theme{
    .form-group[_ngcontent-ng-c597361932] label[_ngcontent-ng-c597361932]{
        color: #ffffff;
    }
} 



app-theme-toggle{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}


