<nav class="navbar navbar-default" [class.dark-theme]="isDarkMode">
    <div class="navbar-header" *ngIf="!loggedInUserName; else welcomeRedirect">
        <a class="navbar-brand" routerLink="/home">OfOps</a>
    </div>

    <ng-template #welcomeRedirect>
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/welcome">OfOps</a>
        </div>
    </ng-template>
    
    
    <div class="navbar-collapse" [class.custom-class]="isDarkMode">
        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active" *ngIf="userRole === 'ADMIN' && loggedInUserName"><a routerLink="/departments">Departments</a></li>
                <li routerLinkActive="active" *ngIf="userRole === 'ADMIN' && loggedInUserName"><a routerLink="/teams">Teams</a></li>
                <li routerLinkActive="active" *ngIf="userRole === 'ADMIN' && loggedInUserName"><a routerLink="/users">Users</a></li>
                <li routerLinkActive="active" *ngIf="(userRole === 'ADMIN' || userRole === 'USER') && loggedInUserName"><a routerLink="/maps">Maps</a></li>
                <!-- <li routerLinkActive="active" *ngIf="userRole === 'ADMIN' && loggedInUserName"><a routerLink="/places">Places</a></li> -->
                <li routerLinkActive="active" *ngIf="userRole === 'ADMIN' && loggedInUserName"><a routerLink="/events">Events</a></li>
                <li routerLinkActive="active" *ngIf="(userRole === 'ADMIN' || userRole === 'USER') && loggedInUserName"><a routerLink="my/reservations">My reservations</a></li>
            </ul>
        </div>
        <ul class="menu" *ngIf="loggedInUserName">
            <div class="btn-link" (click)="toggleSubMenu()">
                Hello, {{ loggedInUserName }}
                <ul class="submenu" *ngIf="showSubMenu" [class.dark-theme]="isDarkMode">
                    <li><button class="dropdown-item" [class.dark-theme]="isDarkMode" (click)="onLogout($event)">Logout</button></li>                    
                </ul>                    
            </div>
        </ul>

        <app-theme-toggle></app-theme-toggle>
    </div>
</nav>
