/* Dark Theme Styles */
.navbar{
    background-color: #0066b2
}

.navbar-header .navbar-brand {
    color: #ffffff;
}


.nav.navbar-nav a {
    color: #ffffff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #2774AE;
}

ul.meniu{
    display: flex;
}

nav{
    background-color: var(--culoare-nav);
}

.btn-link {
    color: #ffffff;
    margin-left: 1150px;
    margin-top: 16px;
    font-size: 17px;
}

.btn-link:hover {
    color: #ffffff;
    text-decoration: none;
}

.submenu {
    background-color: #0066b2; 
    border: #0066b2 5px solid;
    position: absolute;
    list-style-type: none;
    padding: 0; 
    font-size: 14px;
}

.dropdown-item {
    padding: 8px 12px; 
    cursor: pointer; 
    background-color: #0066b2; 
    color: #ffffff; 
    border: none;
    position: relative;
    z-index: 1;
}



.dark-theme .navbar-collapse {
    background-color: #333; 
    color: #ffffff;
    .navbar-nav{
        a{
            color: #ffffff;
        }
    }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
        color: #ffffff;
        background-color: grey;
    }

    .navbar-default .navbar-brand {
        color: #ffffff;
    }
}

.dark-theme{ 
    .form-group[_ngcontent-ng-c597361932][_ngcontent-ng-c597361932] label[_ngcontent-ng-c597361932][_ngcontent-ng-c597361932]{
        color: #ffffff;
    }
}

.dark-theme{
    .form-group[_ngcontent-ng-c597361932] label[_ngcontent-ng-c597361932]{
        color: #ffffff;
    }
} 

app-theme-toggle{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.dark-theme {
    .ngx-pagination a, .ngx-pagination button {
        color: #ffffff;
        display: block;
        padding: 0.1875rem 0.625rem;
        border-radius: 0;
    }
  
    .ngx-pagination a:hover, .dark-theme .ngx-pagination button:hover {
      color: black; /* Change color on hover */
    }

    .submenu{
        border: #ffffff 1px solid;
        background-color: #333;
        color: #ffffff;
        position: absolute;
        list-style-type: none;
        padding: 0; 
        font-size: 14px;
    }

    .dropdown-item{
        padding: 8px 12px; 
        cursor: pointer; 
        background-color: #333;
        color: #ffffff;
    }
  }
