<nav class="navbar navbar-default" [class.dark-theme]="isDarkMode">
    <div class="navbar-header">
        <a class="navbar-brand">Gestionarea spatiilor comune</a>
    </div>
    <div class="navbar-collapse" [class.custom-class]="isDarkMode">
        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/departments">Departments</a></li>
                <li routerLinkActive="active"><a routerLink="/teams">Teams</a></li>
                <li routerLinkActive="active"><a routerLink="/users">Users</a></li>
                <li routerLinkActive="active"><a routerLink="/maps">Maps</a></li>
                <li routerLinkActive="active"><a routerLink="/places">Places</a></li>
                <li routerLinkActive="active"><a routerLink="/reservations">Reservations</a></li>
                <li routerLinkActive="active"><a routerLink="/events">Events</a></li>
            </ul>
        </div>
        <app-theme-toggle></app-theme-toggle>
    </div>
</nav>

