<h1 style="text-align: center;  font-weight: bold; font-size: 35px;">Update department {{depId}}</h1>
<br/>
<form (ngSubmit)="onSubmit(departmentForm)" #departmentForm="ngForm" [class.dark-theme]="isDarkMode">
    <div class="form-group" [class.dark-theme]="isDarkMode">
      <label for="departmentName" [class.dark-theme]="isDarkMode">New Department Name:</label>
      <input 
        type="text" 
        id="departmentName" 
        class="form-control"
        name="departmentName"
        ngModel
        required
        #departmentName="ngModel"
        [placeholder]="departmentName.touched ? 'Please enter the department name!' : 'Enter the department name'"
      >
      <div *ngIf="departmentName.invalid && (departmentName.dirty || departmentName.touched)" class="text-danger">
        <!-- <div *ngIf="departmentName.errors.required">Department name is required.</div>
      </div> -->
    </div>
  
    <br/>
    <div *ngIf="somethingWrong" class="text-danger">This department already exists!</div>
    <br/>
    </div>
  
    <div class="row">
      <div class="col-xs-12 text-center">
        <button 
          type="submit" 
          [disabled]="!departmentForm.form.valid" 
          class="btn btn-info"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
  