<br/>
<h1 style="text-align: center; font-size: 37px;"><b>Select the hour when you want to see the availabilities</b></h1>
<div class="clock-container">
    <div class="clock">
      <div class="clock-face">
        <div class="hand hour-hand" [ngStyle]="hourHandStyle"></div>
        <div class="hand minute-hand" [ngStyle]="minuteHandStyle"></div>
        <div *ngFor="let hour of hours" class="hour" [ngStyle]="getHourStyle(hour)" (click)="selectHour(hour)" [class.selected]="selectedHour === hour">
          {{ hour }}
        </div>
      </div>
    </div>
  
    <div class="time-display">
      <div *ngIf="selectedHour !== null" class="am-pm-selector">
      <!-- <div class="am-pm-selector"> -->
        <button (click)="selectPeriod('AM')" [class.selected]="selectedPeriod === 'AM'">AM</button>
        <button (click)="selectPeriod('PM')" [class.selected]="selectedPeriod === 'PM'">PM</button>
      </div>
    
    
      <div *ngIf="selectedHour !== null && selectedPeriod !== null" class="minutes-container">
      <!-- <div class="minutes-container"> -->
        <h3 style="font-size: 18px;"><b>Select Minute for: {{ selectedHour }} {{ selectedPeriod }}</b></h3>
        <div class="minute-selector">
          <div *ngFor="let minute of minutes" class="minute" (click)="selectMinute(minute)" [class.selected]="selectedMinute === minute">
            {{ minute }}
          </div>
        </div>
      </div></div>
  </div>
  <div *ngIf="selectedMinute !== null && selectedPeriod !== null" class="confirmation" style="margin-right: 70px;">
    <h3 style="font-size: 20px;"><b>Selected Time: {{ formatTime(selectedHour, selectedMinute, selectedPeriod) }}</b></h3>
        <button class="send-button" (click)="sendTime()">Send Time</button>
      </div>