<br/>
<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">MapNameId</th>
            <th scope="col">MapImage</th>
            <th scope="col">DepartmentId</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let map of maps">
            <td>{{ map.mapNameId }}</td>
            <td>{{ map.mapImage }}</td>
            <td>{{ map.departmentId }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>