<br/>
<div class="card my-5"  style="text-align: center;">
  <div class="card-body "  style="text-align: center;">
    <div class="table-container">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col" style="text-align: center;">MapNameId</th>
            <th scope="col" style="text-align: center;">MapImage</th>
            <th scope="col" style="text-align: center;">DepartmentId</th>
          </tr>
        </thead>
        <tbody [class.dark-theme]="isDarkMode">
          <tr *ngFor="let map of maps">
            <td>{{ map.mapNameId }}</td>
            <td>{{ map.mapImage }}</td>
            <td>{{ map.departmentId }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
  <button 
  class="btn btn-success" 
  style="margin-left: 10%;"
  (click) = "onNewMap()">New map</button>